<section class="portfolio">
    <figure class="portfolio-item">
        <img src="img/card01.JPG" alt="Photography">
        <figcaption>Photography</figcaption>
    </figure>
    <figure class="portfolio-item">
        <img src="img/card02.png" alt="UX Design">
        <figcaption>UX Design</figcaption>
    </figure>
    <figure class="portfolio-item">
        <img src="img/card03.jpg" alt="Self-Branding">
        <figcaption>Self-Branding</figcaption>
    </figure>
    <figure class="portfolio-item">
        <img src="img/card04.png" alt="Logo Design">
        <figcaption>Logo Design</figcaption>
    </figure>
    <figure class="portfolio-item">
        <img src="img/card05.png" alt="UX Design">
        <figcaption>UX Design</figcaption>
    </figure>
    <figure class="portfolio-item">
        <img src="img/card06.png" alt="UX Design">
        <figcaption>UX Design</figcaption>
    </figure>
</section>
